<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FifteenLines</title>
    <!--JS-->
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous">
    </script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous">
    </script>
    <script src="/js/main.js"> </script>
    <!--CSS-->
    <%# Removed in order to use "superhero" CSS theme instead.
      <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">%>
    <link href='/stylesheets/superhero.min.css' rel='stylesheet'>
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
    <link href='/stylesheets/main.css' rel='stylesheet'>
  </head>
  <body>
    <!--Navbar-->
    <nav class='navbar navbar-default'>
      <div class='container-fluid'>
        <div class='navbar-header'>
          <a class='navbar-brand' href='/'>FifteenLines</a>
        </div>
        <div class='collapse navbar-collapse'>
          <ul class='navbar-nav navbar-right nav'>
            <%# Local user %>
            <% if (currentUser && currentUser.username) { %>
              <li><a href='#'>Signed in as <%= currentUser.username %></a></li>
              <% if (currentUser.admin) { %>
                <li><a href='/users'>User Managment</a></li>
              <% } %>
              <li><a href='/logout'>Log Out</a></li>
            <% } %>

            <%# Facebook user %>
            <% if (currentUser && currentUser.name) { %>
              <li><a href='#'>Signed in as <%= currentUser.name %></a></li>
              <% if (currentUser.administrator) { %>
                <li><a href='/users'>User Managment</a></li>
              <% } %>
              <li><a href='/logout'>Log Out</a></li>
            <% } %>
            <% if (!currentUser) { %>
              <li><a href='/login/facebook'>Log In With Facebook</a></li>
              <li><a href='/login'>Log In With Local Account</a></li>
              <li><a href='/register'>Sign Up</a></li>
            <% } %>
            <!--
            <% if (currentUser) { %>
              <li>User ID:  <%= currentUser._id %> </li>
            <% } %>
            -->
          </ul>
        </div>
      </div>
    </nav>
    <!--Flash messages-->
    <div class='container'>
      <% if(error && error.length > 0){ %>
        <div class='alert alert-danger' role='alert'><%= error %></div>
      <% } %>
      <% if(success && success.length > 0){ %>
        <div class='alert alert-success' role='alert'><%= success %></div>
      <% } %>
    </div>
