<% include ../partials/header %>

<div class='container stripetable'>

  <div class='row'>
    <div class='col-xs-12' id='poemManagementPage'>
      <h1>Poem Management</h1>
    </div>
  </div>

  <%# Pagination %>
  <div class='row'>
    <div class='col-xs-12 center-block'>
      <strong>
      <a href='#' id='pageBackward' onClick="turnPage('back')"> <----- </a>
      |
      <a href='#' id='pageForward' onClick="turnPage('forward')"> -----> </a>
      </strong>
    </div>
  </div>

  <div class='row'>
    <div class='col-xs-1'>
      <strong>&nbsp;</strong>
    </div>
    <div class='col-xs-2'>
      <strong> <a href='#' id='adminToggleTitle' onClick='adminToggleTitle()'>title</a> </strong>
    </div>
    <div class='col-xs-3'>
      <strong>preview</strong>
    </div>
    <div class='col-xs-2'>
      <strong> <a href='#' id='adminToggleAuthor' onClick='adminToggleAuthor()'>title</a> </strong>
    </div>
    <div class='col-xs-2'>
      <strong> <a href='#' id='adminToggleDate' onClick='adminToggleDate()'>date</a> </strong>
    </div>
    <div class='col-xs-2'>
      <strong> <a href='#' id='adminToggleHidden' onClick='adminToggleHidden()'>hidden</a> </strong>
    </div>
  </div>

  <% poems.forEach(function(poem){ %>
    <div class="row">
      <div class="col-xs-1" style="vertical-align: middle">
        <a class='btn btn-primary btn-responsive' type="submit" href="/poems/<%= poem._id %>">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Edit</a>
        <form class='delete-form delete' action='/poems/<%= poem._id %>?_method=DELETE' method="POST">
          <button class='btn btn-danger btn-responsive' type="submit">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Del</button>
        </form>
      </div>
      <div class='col-xs-2 wrap'>
        <%= poem.title %>
      </div>
      <div class='col-xs-3 wrap'>
        <%= poem.l1w1 %> <%= poem.l1w2 %> <%= poem.l1w3 %> <%= poem.l1w4 %> <%= poem.l1w5 %>
      </div>
      <div class='col-xs-2 wrap'>
        <%= poem.author.username %>
      </div>
      <div class='col-xs-2 wrap'>
        <%= poem.createdAt %>
      </div>
      <div class='col-xs-2 wrap'>
        <%= poem.hidden %>
      </div>
    </div>
  <% }) %>

</div>

<div class='container'>
  <div class='row'>
    <div class='col-xs-12'>
      <% include ../partials/footer %>
    </div>
  </div>
</div>
