<% include ../partials/header %>

<div class='container stripetable'>

  <div class='row'>
    <div class='col-xs-12' id='poemManagementPage'>
      <h1>Poem Management</h1>
    </div>
  </div>

  <div class='row'>
    <div class='col-xs-1'>
      <strong>&nbsp;</strong>
    </div>
    <div class='col-xs-2'>
      <a href="/poems/adminByTitle"> ▲ </a>
      <strong> &nbsp; title &nbsp; </strong>
      <a href="/poems/adminByTitleReverse"> ▼ </a>
    </div>
    <div class='col-xs-3'>
      <strong>preview</strong>
    </div>
    <div class='col-xs-2'>
      <a href="/poems/adminByAuthor"> ▲ </a>
      <strong>started by</a></strong>
      <a href="/poems/adminByAuthorReverse"> ▼ </a>
    </div>
    <div class='col-xs-2'>
      <strong><a href="/poems/adminByDate"> ▲ </a></strong>
      <strong>Date</strong>
      <strong><a href="/poems/adminByDateReverse"> ▼ </a></strong>
    </div>
    <div class='col-xs-2'>
      <strong><a href="/poems/adminByHidden"> ▲ </a></strong>
      <strong>hidden</strong>
      <strong><a href="/poems/adminByHiddenReverse"> ▼ </a></strong>
    </div>
  </div>

  <% poems.forEach(function(poem){ %>
    <div class="row">
      <div class="col-xs-1" style="vertical-align: middle">
        <a class='btn btn-primary btn-responsive' type="submit" href="/poems/<%= poem._id %>">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Edit</a>
        <form class='delete-form delete' action='/poems/<%= poem._id %>?_method=DELETE' method="POST">
          <button class='btn btn-danger btn-responsive' type="submit">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Del</button>
        </form>
      </div>
      <div class='col-xs-2 wrap'>
        <%= poem.title %>
      </div>
      <div class='col-xs-3 wrap'>
        <%= poem.l1w1 %> <%= poem.l1w2 %> <%= poem.l1w3 %> <%= poem.l1w4 %> <%= poem.l1w5 %>
      </div>
      <div class='col-xs-2 wrap'>
        <%= poem.author.username %>
      </div>
      <div class='col-xs-2 wrap'>
        <%= poem.createdAt %>
      </div>
      <div class='col-xs-2 wrap'>
        <%= poem.hidden %>
      </div>
    </div>
  <% }) %>

</div>

<div class='container'>
  <div class='row'>
    <div class='col-xs-12'>
      <% include ../partials/footer %>
    </div>
  </div>
</div>
