<% include ../partials/header %>

<div class='container stripetable'>

  <!-- Control visibility of add poem button based on whether a user is logged in or not. -->
  <% if (currentUser){ %>
    <div class='row'>
      <div>
        <a class="btn btn-success center-block" href='/poems/new' id='addPoem'>Add a poem</a>
      </div>
    </div>
  <% } %>

  <!-- Display previews of all poems -->
  <div class='row'>
    <div class='col-xs-3'>
      <strong> <a href='#' id='toggleTitle' onClick='toggleTitle()'>title</a> </strong>
    </div>
    <div class='col-xs-5'>
      <strong>preview</strong>
    </div>
    <div class='col-xs-2'>
      <strong> <a href='#' id='toggleAuthor' onClick='toggleAuthor()'>started by</a> </strong>
    </div>
    <div class='col-xs-2'>
      <strong> <a href='#' id='toggleDate' onClick='toggleDate()'>date</a> </strong>
    </div>
  </div>
  <hr />
  <% poems.forEach(function(poem){ %>
    <div class="row">
      <div class='col-xs-3 wrap'>
        <h5> <a href='/poems/<%= poem._id %>'> <%= poem.title %> </a> </h5>
      </div>
      <%# TODO:  The following code should display only the poem's 'tail' unless the poem is complete. %>
      <div class='col-xs-5 wrap'>
        <%- poem.l1w1 %> <%- poem.l1w2 %> <%- poem.l1w3 %> <%- poem.l1w4 %> <%- poem.l1w5 %> ...
      </div>
      <div class='col-xs-2 wrap'>
        <%= poem.author.username %>
      </div>
      <div class='col-xs-2 wrap'>
        <%= poem.createdAt %>
      </div>
    </div>
  <% }) %>

</div>

<% include ../partials/footer %>
