<% include ../partials/header %>

<div class='container stripetable'>

  <!-- Control visibility of add poem button based on whether a user is logged in or not. -->
  <% if (currentUser){ %>
    <div class='row'>
      <div>
        <a class="btn btn-success center-block" href='/poems/new' id='addPoem'>Add a poem</a>
      </div>
    </div>
  <% } %>

  <!-- Display previews of all poems -->
  <div class='row'>
    <div class='col-xs-3'>
      <strong>title</strong>
    </div>
    <div class='col-xs-6'>
      <strong>preview</strong>
    </div>
    <div class='col-xs-3'>
      <strong>Started by</strong>
    </div>
  </div>

  <% poems.forEach(function(poem){ %>
    <div class="row">
      <div class='col-xs-3 wrap'>
        <h4> <a href='/poems/<%= poem._id %>' name="<%= poem.title %>"> <%= poem.title %> </a> </h4>
      </div>
      <div class='col-xs-6 wrap'>
        <%- poem.l1w1 %> <%- poem.l1w2 %> <%- poem.l1w3 %> <%- poem.l1w4 %> <%- poem.l1w5 %> ...
      </div>
      <div class='col-xs-3 wrap'>
        <%= poem.author.username %>
      </div>
    </div>
  <% }) %>

</div>

<% include ../partials/footer %>
