<% include ../partials/header %>

<div class='container'>

  <!-- Control visibility of add poem button based on whether a user is logged in or not. -->
  <% if (currentUser){ %>
    <div class='row'>
      <div>
        <a class="btn btn-success center-block" href='/poems/new'>Add a new poem</a>
      </div>
    </div>
  <% } %>

  <!-- Display previews of all poems -->
  <div class='row text-center'>
    <% poems.forEach(function(poem){ %>
      <% if (!poem.hidden) { %>
        <div class='col-md-3 col-sm-6 fifteencard'>
          <div class='caption'>
            <h4> <a href='/poems/<%= poem._id %>'> <%= poem.title %> </a> </h4>
          </div>
          <div style="text-align: left;">
            <%- poem.l1w1 %> <%- poem.l1w2 %> <%- poem.l1w3 %> <%- poem.l1w4 %> <%- poem.l1w5 %> ...
          </div>
        </div>
      <% } %>
    <% }); %>
  </div>

</div>

<% include ../partials/footer %>
