<% include ../partials/header %>

<div class='container stripetable'>

  <%# Control visibility of add poem button based on whether a user is
      logged in or not. %>
  <% if (currentUser){ %>
    <div class='row'>
      <div>
        <a class="btn btn-success center-block" href='/poems/new' id='addPoem'>Add a poem</a>
      </div>
    </div>
  <% } %>

  <%# Display previews of all poems started by the logged-in user.%>
  <%# Pagination %>
  <nav aria-label="Page navigation" class='text-center'>
    <ul class="pagination">
      <li>
        <a href='#' id='pageBackward' onClick="turnPage('back')" aria-label="Previous">
          <span aria-hidden="true">&laquo; previous&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </a>
      </li>
      <li>
        <a href='#' id='pageForward' onClick="turnPage('forward')" aria-label="Next">
          <span aria-hidden="true">&nbsp;&nbsp;&nbsp;&nbsp;next &raquo;</span>
        </a>
      </li>
    </ul>
  </nav>

  <%# Column headers %>
  <div class='row'>
    <div class='col-xs-3'>
      <strong>
        <a href='#' id='toggleTitle' onClick='myPoemsToggleTitle()'>title</a>
      </strong>
    </div>
    <div class='col-xs-7'>
      <strong>preview</strong>
    </div>
    <div class='col-xs-2'>
      <strong>
        <a href='#' id='myPoemsToggleDate' onClick='myPoemsToggleDate()'>date</a>
      </strong>
    </div>
  </div>

  <%# Poems %>
  <% poems.forEach(function(poem){ %>
    <div class="row">
      <div class='col-xs-3 wrap'>
        <h5> <a href='/poems/<%= poem._id %>'> <%= poem.title %> </a> </h5>
      </div>
      <div class='col-xs-7 wrap'>
        <% if (poem.lineBeingEdited == 1) { %>
          <div class='newpoem'>new</div>
        <% } %>

        <% if ((poem.lineBeingEdited > 1) && (poem.lineBeingEdited < 16)) { %>
          <div class='inprogresspoem'>in progress</div>
          <%= poem['l' + (poem.lineBeingEdited -1) + 'w' + poem.wordsPerLine] %>
        <% } %>

        <% if (poem.lineBeingEdited == 16) { %>
          <div class='completepoem'>complete</div>
          <div>
            <%= poem.l1w1 %>
            <%= poem.l1w2 %>
            <%= poem.l1w3 %>
            <%= poem.l1w4 %>
            <%= poem.l1w5 %>
          </div>
        <% } %>

      </div>

      <div class='col-xs-2 wrap'>
        <script>
          var date = new Date('<%= poem.createdAt %>');  // dateStr from mongodb
          date = date.toString();
          date = date.substring(0,24);
          document.write(date);
        </script>
      </div>
    </div>
  <% }) %>

</div>

<% include ../partials/footer %>
