<% include ../partials/header %>

<script>
  $(document).ready(function(){
    <%# Retrieve lineBeingEdited from the database %>
    i = <%= poem.lineBeingEdited %>;

    <%# Perform these steps only if the poem is incomplete.  Otherwise leave all fields visible. %>
    if (i < 16)
    {
      if (i > 1) {
        <%# If the line being edited is > 1, hide all lines from 1 to lineBeingEdited %>
        for (i = 1; i < <%= poem.lineBeingEdited %>; i++ ) {
          // document.getElementById('line' + i).style.display = 'none';
          $('#line' + i).remove();
        }
      }
      <%# Hide all lines from (lineBeingEdited + 1) to 16 %>
      var j = <%= poem.lineBeingEdited %> + 1;
      for (j; j < 16; j++) {
        // document.getElementById('line' + j).style.display = 'none';
        $('#line' + j).remove();
      }
    }

  });

</script>

<div class='container'>

  <div class='row'>
    <div class='col-xs-10 col-xs-offset-2'>
      <a href="/" class="btn btn-primary">
        <span class="glyphicon glyphicon-arrow-left"></span>
        Back</a>
    </div>
  </div>
  <div class="row">
    <div class='col-xs-10 col-xs-offset-2'>
      <div class='caption-full'>
        <h3><a><%= poem.title %></a></h3>
        <p><em>Created by <%= poem.author.username %></em></p>
      </div>
    </div>
  </div>

  <%# Control visibility of poem Edit and hide buttons based on logged-in user%>
  <% if (currentUser){ %>
    <div class="row">
      <div class='col-xs-10 col-xs-offset-2'>
        <a class='btn btn-warning' href='/poems/<%= poem._id %>/edit' id='editPoem'>
          <span class="glyphicon glyphicon-edit"></span>
          Edit</a>
      </div>
    </div>
  <% } %>
  <% if ((currentUser && poem.author.id.equals(currentUser._id)) || (currentUser && currentUser.admin)){ %>
    <div class='row'>
      <div class='col-xs-10 col-xs-offset-2'>
        <br />
        <form action='/poems/<%= poem._id %>?_method=PUT' method='POST'>

          hidden
          <input
            type='radio'
            name='poem[hidden]'
            value='true'
            <% if(poem.hidden) { %>
              checked
            <% } %>
          >

          visible
          <input
            type='radio'
            name='poem[hidden]'
            value='false'
            <% if(!poem.hidden) { %>
              checked
            <% } %>
          >

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br />
      </div> <%# End column %>
    </div> <%# End row %>
  <% } else { %>
    &nbsp;
  <% } %>

    <% var wordsPerLine = poem.wordsPerLine %>

    <% if ((poem.lineBeingEdited > 1) && (poem.lineBeingEdited < 16)) { %>
      <h3>Tail</h3>
      <%= poem['l' + (poem.lineBeingEdited -1) + 'w' + poem.wordsPerLine] %>
    <% } %>

      <% if (poem.l1w1) { -%>
        <div class='row'>
          <div class='col-xs-10 col-xs-offset-2' id='line1'>
            <% for (var i = 0; i < wordsPerLine; i++) { -%>
              <%= poem['l1w' + (i + 1)] -%>
            <% } -%>
          </div>
        </div>
      <% } %>

    <% if (poem.l2w1) { -%>
      <div class='row'>
        <div class='col-xs-10 col-xs-offset-2' id='line2'>
          <% for (var i = 0; i < wordsPerLine; i++) { -%>
            <%= poem['l2w' + (i + 1)] -%>
          <% } -%>
        </div>
      </div>
    <% } -%>

    <% if (poem.l3w1) { -%>
      <div class='row'>
        <div class='col-xs-10 col-xs-offset-2' id='line3'>
          <% for (var i = 0; i < wordsPerLine; i++) { -%>
            <%= poem['l3w' + (i + 1)] -%>
          <% } -%>
        </div>
      </div>
    <% } -%>

    <% if (poem.l4w1) { -%>
      <div class='row'>
        <div class='col-xs-10 col-xs-offset-2' id='line4'>
          <% for (var i = 0; i < wordsPerLine; i++) { -%>
            <%= poem['l4w' + (i + 1)] -%>
          <% } -%>
        </div>
      </div>
    <% } -%>

    <% if (poem.l5w1) { -%>
      <div class='row'>
        <div class='col-xs-10 col-xs-offset-2' id='line5'>
          <% for (var i = 0; i < wordsPerLine; i++) { -%>
            <%= poem['l5w' + (i + 1)] -%>
          <% } -%>
        </div>
      </div>
    <% } -%>

    <% if (poem.l6w1) { -%>
      <div class='row'>
        <div class='col-xs-10 col-xs-offset-2' id='line6'>
          <% for (var i = 0; i < wordsPerLine; i++) { -%>
            <%= poem['l6w' + (i + 1)] -%>
          <% } -%>
        </div>
      </div>
    <% } -%>

    <% if (poem.l7w1) { -%>
      <div class='row'>
        <div class='col-xs-10 col-xs-offset-2' id='line7'>
          <% for (var i = 0; i < wordsPerLine; i++) { -%>
            <%= poem['l7w' + (i + 1)] -%>
          <% } -%>
        </div>
      </div>
    <% } -%>

    <% if (poem.l8w1) { -%>
      <div class='row'>
        <div class='col-xs-10 col-xs-offset-2' id='line8'>
          <% for (var i = 0; i < wordsPerLine; i++) { -%>
            <%= poem['l8w' + (i + 1)] -%>
          <% } -%>
        </div>
      </div>
    <% } -%>

    <% if (poem.l9w1) { -%>
      <div class='row'>
        <div class='col-xs-10 col-xs-offset-2' id='line9'>
          <% for (var i = 0; i < wordsPerLine; i++) { -%>
            <%= poem['l9w' + (i + 1)] -%>
          <% } -%>
        </div>
      </div>
    <% } -%>

    <% if (poem.l10w1) { -%>
      <div class='row'>
        <div class='col-xs-10 col-xs-offset-2' id='line10'>
          <% for (var i = 0; i < wordsPerLine; i++) { -%>
            <%= poem['l10w' + (i + 1)] -%>
          <% } -%>
        </div>
      </div>
    <% } -%>

    <% if (poem.l11w1) { -%>
      <div class='row'>
        <div class='col-xs-10 col-xs-offset-2' id='line11'>
          <% for (var i = 0; i < wordsPerLine; i++) { -%>
            <%= poem['l11w' + (i + 1)] -%>
          <% } -%>
        </div>
      </div>
    <% } -%>

    <% if (poem.l12w1) { -%>
      <div class='row'>
        <div class='col-xs-10 col-xs-offset-2' id='line12'>
          <% for (var i = 0; i < wordsPerLine; i++) { -%>
            <%= poem['l12w' + (i + 1)] -%>
          <% } -%>
        </div>
      </div>
    <% } -%>

    <% if (poem.l13w1) { -%>
      <div class='row'>
        <div class='col-xs-10 col-xs-offset-2' id='line13'>
          <% for (var i = 0; i < wordsPerLine; i++) { -%>
            <%= poem['l13w' + (i + 1)] -%>
          <% } -%>
        </div>
      </div>
    <% } -%>

    <% if (poem.l14w1) { -%>
      <div class='row'>
        <div class='col-xs-10 col-xs-offset-2' id='line14'>
          <% for (var i = 0; i < wordsPerLine; i++) { -%>
            <%= poem['l14w' + (i + 1)] -%>
          <% } -%>
        </div>
      </div>
    <% } -%>

    <% if (poem.l15w1) { -%>
      <div class='row'>
        <div class='col-xs-10 col-xs-offset-2' id='line15'>
          <% for (var i = 0; i < wordsPerLine; i++) { -%>
            <%= poem['l15w' + (i + 1)] -%>
          <% } -%>
        </div>
      </div>
    <% } -%>

  <div class='row'>
    <div class='col-md-8 col-md-offset-2'>
      <hr />
      <div class="text-center"><em>Created <%= poem.createdAt %></em></div>
    </div>
  </div>
</div> <%# End container %>


<% include ../partials/footer %>
