<% include ../partials/header %>

<div class='container'>

  <div class='row'>
    <div class="col-md-8 col-md-offset-2">
      <a href="/" class="btn btn-primary">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        Back</a>
    </div>
  </div>

  <div class="row">
    <div class='col-md-8 col-md-offset-2'>
      <div class='caption-full'>
        <h3><a><%= poem.title %></a></h3>
        <p><em>Created by <%= poem.author.username %></em></p>
      </div>
    </div>
  </div>

  <div class="row">
      <!--Control visibility of poem Edit and Delete buttons based on logged-in user-->
    <% if (currentUser){ %>
      <div class='col-xs-6' style="border: thin solid lightgray;">
        <a class='btn btn-warning' href='/poems/<%= poem._id %>/edit'>
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          Edit</a>
      </div>
    <% } %>
    <% if (currentUser && poem.author.id.equals(currentUser._id)){ %>
      <div class='col-xs-6' style="border: thin solid lightgray;">
        <form action='/poems/<%= poem._id %>?_method=PUT' method='POST'>
            <label>Poem Visibility:  </label>
            <input
              type='radio'
              name='poem[isHidden]'
              value='true'
              <% if(poem.isHidden) { %>
                checked
              <% } %>
            > Hidden
            <input
              type='radio'
              name='poem[isHidden]'
              value='false'
              <% if(!poem.isHidden) { %>
                checked
              <% } %>
            > Visible
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
      <br />
  <% } %>
  </div>

  <hr />

  <div class='row'>
    <% var wordsPerLine = poem.wordsPerLine %>

    <% if (poem.l1w1 !=='') { -%>
      <div class='col-md-8 col-md-offset-2'>
        <% for (var i = 0; i < wordsPerLine; i++) { -%>
          <%= poem['l1w' + (i + 1)] -%>
        <% } -%>
      </div>
    <% } %>
    <% if (poem.l2w1 !=='') { -%>
      <div class='col-md-8 col-md-offset-2'>
        <% for (var i = 0; i < wordsPerLine; i++) { -%>
          <%= poem['l2w' + (i + 1)] -%>
        <% } -%>
      </div>
    <% } -%>
    <% if (poem.l3w1 !=='') { -%>
      <div class='col-md-8 col-md-offset-2'>
        <% for (var i = 0; i < wordsPerLine; i++) { -%>
          <%= poem['l3w' + (i + 1)] -%>
        <% } -%>
      </div>
    <% } -%>
    <% if (poem.l4w1 !=='') { -%>
      <div class='col-md-8 col-md-offset-2'>
        <% for (var i = 0; i < wordsPerLine; i++) { -%>
          <%= poem['l4w' + (i + 1)] -%>
        <% } -%>
      </div>
    <% } -%>
    <% if (poem.l5w1 !=='') { -%>
      <div class='col-md-8 col-md-offset-2'>
        <% for (var i = 0; i < wordsPerLine; i++) { -%>
          <%= poem['l5w' + (i + 1)] -%>
        <% } -%>
      </div>
    <% } -%>
    <% if (poem.l6w1 !=='') { -%>
      <div class='col-md-8 col-md-offset-2'>
        <% for (var i = 0; i < wordsPerLine; i++) { -%>
          <%= poem['l6w' + (i + 1)] -%>
        <% } -%>
      </div>
    <% } -%>
    <% if (poem.l7w1 !=='') { -%>
      <div class='col-md-8 col-md-offset-2'>
        <% for (var i = 0; i < wordsPerLine; i++) { -%>
          <%= poem['l7w' + (i + 1)] -%>
        <% } -%>
      </div>
    <% } -%>
    <% if (poem.l8w1 !=='') { -%>
      <div class='col-md-8 col-md-offset-2'>
        <% for (var i = 0; i < wordsPerLine; i++) { -%>
          <%= poem['l8w' + (i + 1)] -%>
        <% } -%>
      </div>
    <% } -%>
    <% if (poem.l9w1 !=='') { -%>
      <div class='col-md-8 col-md-offset-2'>
        <% for (var i = 0; i < wordsPerLine; i++) { -%>
          <%= poem['l9w' + (i + 1)] -%>
        <% } -%>
      </div>
    <% } -%>
    <% if (poem.l10w1 !=='') { -%>
      <div class='col-md-8 col-md-offset-2'>
        <% for (var i = 0; i < wordsPerLine; i++) { -%>
          <%= poem['l10w' + (i + 1)] -%>
        <% } -%>
      </div>
    <% } -%>
    <% if (poem.l11w1 !=='') { -%>
      <div class='col-md-8 col-md-offset-2'>
        <% for (var i = 0; i < wordsPerLine; i++) { -%>
          <%= poem['l11w' + (i + 1)] -%>
        <% } -%>
      </div>
    <% } -%>
    <% if (poem.l12w1 !=='') { -%>
      <div class='col-md-8 col-md-offset-2'>
        <% for (var i = 0; i < wordsPerLine; i++) { -%>
          <%= poem['l12w' + (i + 1)] -%>
        <% } -%>
      </div>
    <% } -%>
    <% if (poem.l13w1 !=='') { -%>
      <div class='col-md-8 col-md-offset-2'>
        <% for (var i = 0; i < wordsPerLine; i++) { -%>
          <%= poem['l13w' + (i + 1)] -%>
        <% } -%>
      </div>
    <% } -%>
    <% if (poem.l14w1 !=='') { -%>
      <div class='col-md-8 col-md-offset-2'>
        <% for (var i = 0; i < wordsPerLine; i++) { -%>
          <%= poem['l14w' + (i + 1)] -%>
        <% } -%>
      </div>
    <% } -%>
    <% if (poem.l15w1 !=='') { -%>
      <div class='col-md-8 col-md-offset-2'>
        <% for (var i = 0; i < wordsPerLine; i++) { -%>
          <%= poem['l15w' + (i + 1)] -%>
        <% } -%>
      </div>
    <% } -%>

  </div>
  <div class='row'>
    <div class='col-md-8 col-md-offset-2'>
      <hr />
      <div class="text-center"><em>Created <%= poem.createdAt %></em></div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-8 col-md-offset-2'>
      <a href="/" class="btn btn-primary">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        Back</a>
    </div>
  </div>
</div> <%# End container %>


<% include ../partials/footer %>
