<% include ../partials/header %>

<div class='container stripetable'>

  <div class='row'>
    <div class='col-xs-12' id='userManagementPage'>
      <h1>User Management</h1>
    </div>
  </div>

  <div class='row'>
    <div class='col-xs-1'>
      <strong>&nbsp;</strong>
    </div>
    <div class='col-xs-3'>
      <strong>username</strong>
    </div>
    <div class='col-xs-4'>
      <strong>email</strong>
    </div>
    <div class='col-xs-1'>
      <strong>admin</strong>
    </div>
    <div class='col-xs-3'>
      <strong>id</strong>
    </div>
  </div>

<% users.forEach(function(user){ %>
  <div class="row">
  <div class="col-xs-1" style="vertical-align: middle">
    <a class='btn btn-primary btn-responsive' type="submit" href="/users/<%= user._id %>/edit">
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Edit</a>
    <form class='delete-form delete' action='/users/<%= user._id %>?_method=DELETE' method="POST">
      <button class='btn btn-danger btn-responsive' type="submit">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Del</button>
    </form>
  </div>
    <div class='col-xs-3 wrap'>
      <%= user.username %>
    </div>
    <div class='col-xs-4 wrap'>
      <%= user.email %>
    </div>
    <div class='col-xs-1 wrap'>
      <%= user.admin %>
    </div>
    <div class='col-xs-3 wrap'>
      <%= user._id %>
    </div>
  </div>
<% }) %>

</div>

<div class='container'>
  <div class='row'>
    <div class='col-xs-12'>
      <% include ../partials/footer %>
    </div>
  </div>
</div>
